.blob {
	background: url(/././blobw.svg) no-repeat;
	width: 100%;
	max-width: 800px;
	height: 800px;
	background-size: cover;
	/* background-position: center center; */
}

.test {
	margin: 0 auto;
}

.circle_parent {
	position: relative;
	font-size: 40px;
	cursor: pointer;
}

.arrow_child {
	position: absolute;
	cursor: pointer;
	font-size: 20px;
	top: 0.5em;
	left: 0.5em;
}

.will_change_transform {
	will-change: transform;
}

/* Mobile */
